@media (min-width: 600px) {
    nav>ul {
            display: flex;
            gap: 50px;
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin: auto auto;
        }

        body {
            font-size: 125%;
        }

        .border {
            outline: solid 2px green;
    }
}

@media (min-width: 900px) {
    body {
        font-size: 150%;
    }
    main {
        display:flex;
    }
}



